@model IEnumerable<SUM_Project.Models.MedarbejderModel>

@{
    ViewData["Title"] = "Web API";
}


<h2>Liste over medarbejder</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.navn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.navn)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.med_id">Detaljer</a> 
                </td>
            </tr>
        }
    </tbody>
</table>


