@model IEnumerable<SUM_Project.Models.MaterialeforbrugModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Liste over materialer</h2>

<p>
    <a asp-action="Create">Opret ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tilbud_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mat_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tilbud_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mat_id)
                </td>
            </tr>
        }
    </tbody>
</table>
